<ul id="players-list">
    <% room.room_players.includes(:user).each do |rp| %>

    <li class="player-item player-card <%= 'active' if rp == room.current_player %>">
        <span class="player-name"><%= rp.user.name %></span>
        <span class="player-score"> - Puntos: <%= rp.score %></span>
        <span class="player-turn"> - Turno: <%= rp.turn_order %> -</span>
        <% if room.rolling_for_order? || room.tiebreak_for_order? %>
        <span id="dice-result-<%= rp.id %>">
            <% if rp.dice_roll.present? %>
              Dado <%= rp.dice_roll %>
            <% else %>
              <%= image_tag 'dice_roll.gif', alt: 'Rolling...', width: 25, height: 25 %>
            <% end %>
        </span>
        <% end %>
    </li>
    <% end %>
</ul>