<ul id="players-list">
    <% room.room_players.includes(:user).each do |rp| %>

    <li class="player-item player-card <%= 'active' if rp == room.current_player %>">
        <span class="player-name"><%= rp.user.name %></span>
        <span class="player-score"> - Puntos: <%= rp.score %></span>
        <span class="player-turn"> - Turno: <%= rp.turn_order %> -</span>
        <% if room.rolling_for_order? || room.tiebreak_for_order? %>
        <span id="dice-result-<%= rp.id %>">
            <% if rp.dice_roll.present? %>
              Dado <%= rp.dice_roll %>
            <% else %>
              <%= image_tag 'dice_roll.gif', alt: 'Rolling...', width: 25, height: 25 %>
            <% end %>
        </span>
        <% end %>
    </li>
    <% end %>
</ul>
<% if room.waiting? %>
  <% unless room.room_players.exists?(user_id: current_user.id) %>
    <%= button_to 'Unirme a esta sala', join_room_path(room), method: :post %>
  <% end %>
<% elsif room.rolling_for_order? || room.tiebreak_for_order? %>
  <% if room.room_players.exists?(user_id: current_user.id) %>
    <% current_player = room.room_players.find_by(user_id: current_user.id) %>
    <% unless current_player.dice_roll.present? %>
      <%= button_to "Tirar dado",
              roll_dice_room_room_player_path(room, current_player),
              method: :post,
              remote: true,
              id: "roll-dice-btn-#{current_player.id}" %>
    <% end %>
  <% end %>
<% end %>