<h1>Crear una nueva sala</h1>

<%= form_with model: @room, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%= form.hidden_field :status, value: 'waiting' %>
  <%= form.submit 'Crear sala' %>
<% end %>
