<h1>Sala: <%= @room.name %></h1>
<p>Estado: <%= @room.status %></p>

<% if @room.waiting? %>
  <%= button_to "Empezar partida", start_room_path(@room), method: :patch, data: { turbo_confirm: "Empezar partida?" } %>
<% elsif @room.playing? %>
  <%= button_to "Finalizar partida", finish_room_path(@room), method: :patch, data: {turbo_confirm: "Finalizar partida?" } %>
<% end %>

<h2>Jugadores</h2>
<ul>
  <% @room.room_players.includes(:user).each do |rp| %>
    <li><%= rp.user.name %> 
    <% if @room.rolling_for_order? %>
      <%= button_to "Tirar dado",
      roll_dice_room_room_player_path(@room, rp),
      method: :patch,
      remote: true,
      id: "roll-dice-btn-#{rp.id}" %>
    <div id="dice-result-<%= rp.id %>">
      <% if rp.dice_roll.present? %>
      Dado <%= rp.dice_roll %>
      <% end %>
    </div>
  <% end %>
    - Turno: <%= rp.turn_order %>
    - Puntos: <%= rp.score %></li>
  <% end %>
</ul>

<% unless @room.room_players.exists?(user_id: current_user.id) %>
  <%= button_to 'Unirme a esta sala', join_room_path(@room), method: :post %>
<% end %>

<div>                                               <%= link_to "Volver a Salas", rooms_path %>     </div>
